GCO.ProcessoDePublish/Service References/ServicoDePublicacao/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ObterHora">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterHoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObterHoraResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Publicar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPublicacaoRelease" type="xs:long" />
        <xs:element minOccurs="0" name="arquivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="caminho" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublicarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PublicarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>